body {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0px 20px;
  opacity: 0.8;
  transform: scale(0.9);
  transition: 0.5s;
}

.slide li img {
  border-radius: 5px;
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}

.slide li span {
  content: "";
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: relative;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  right: -550px;
  top: 180px;
}

[data-controle] {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

[data-controle] li a {
  display: block;
  height: 12px;
  width: 12px;
  background-color: #fb5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-controle] li.ativo a,
[data-controle] li a:hover {
  background-color: #e54;
}
